<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Sunshine">

    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <service
            android:name="com.Sunshine.SimpleFace"
            android:label="@string/swf"
            android:permission="android.permission.BIND_WALLPAPER"
            >

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/spsquare" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/spround" />
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category
                    android:name=
                        "com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>


        </service>
        <service android:name="com.Sunshine.datasyncService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>

                <action android:name="com.google.android.gms.wearable.BIND_LISTENER"/>
            </intent-filter>

        </service>
    </application>



</manifest>